.myAccount{
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    .myAccount_login{
        margin-right: 20px;
        h2{
            font-weight: 300;
            padding-bottom: 20px;
        }
        ul li {
            font-weight: 250;
            padding-bottom: 7px;
        }
        .login{
            border: 2px solid rgb(198, 157, 157);
            padding: 50px;
            label{
                padding-top: 15px;
            }
            input{
                width: 100%;
            }
            button{
                margin: 20px 0;
                padding: 6px;
                background-color:rgb(198, 157, 157) ;
                color: white;
                border:none;
                border-radius: 7px;
            }
            a{
                display: block;
                color: black;
                padding-top: 10px;
            }
        }
        .register{
            border: 2px solid rgb(198, 157, 157);
            padding: 50px;
            .register_error{
                 color: red;
                font-style: italic;
                font-size: 12px;
                margin-bottom: -12px;
                margin-top: 4px;
            }
            label{
                padding-top: 15px;
            }
            input{
                width: 100%;
            }
            button{
                margin: 20px 0;
                padding: 6px;
                background-color:rgb(198, 157, 157) ;
                color: white;
                border:none;
                border-radius: 7px;
            }
            a{
                display: block;
                color: black;
                padding-top: 10px;
            }
        }
    }
}
